binary "https://www.mapbox.com/ios-sdk/Mapbox-iOS-SDK.json" ~> 4.3
binary "https://www.mapbox.com/ios-sdk/MapboxNavigationNative.json" ~> 3.4.6
github "mappy/MapboxDirections.swift" "v0.26.0-mappy.1"
github "mappy/turf-swift" "v0.3.0-mappy.0"
github "mapbox/mapbox-events-ios" ~> 0.6
github "ceeK/Solar" ~> 2.1.0
github "mapbox/mapbox-speech-swift" ~> 0.1.0
